.Nav-Floated {
  float: left;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.Nav-Container {
  align-items: flex-end;
  background-color: #292224;
  display: flex;
  justify-content: center;
  height: 55px;
}

.Nav-Logo {
  color: #ffffff;
  font-family: Josefin Sans, sans-serif;;
  font-size: 2.5rem;
  text-decoration: none;
}

.Nav-Logo:hover {
  color: #CE5374;
  font-weight: 800;
  text-decoration: none;
}
